* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-style: normal;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

.tes {
  border: 1px solid red;
}

.jumbotron {
  background-color: #ffffff;
  border-bottom: 3px solid rgb(238, 238, 238);
}

.main-nav {
  background-color: #f1f3ff;
  border-bottom: 3px solid rgb(238, 238, 238);
  position: relative;
  z-index: 0;
}

.main-nav a.navbar-brand {
  padding-left: 15px;
}

.main-nav .navbar-nav a.nav-link {
  color: black;
  margin-right: 20px;
}

.main-nav .navbar-nav .nav-button {
  background-color: #5cb85f;
  color: #ffffff;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.news {
  border-bottom: 3px solid rgb(238, 238, 238);
}

.main-content-1 {
  background-color: #ffffff;
  height: 500px;
  margin-right: -10px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
}

.main-content {
  /* padding-top: 177px;
  padding-left: 120px; */
  margin: auto;
}

.main-content-2 {
  /* border-bottom: 3px solid rgb(238, 238, 238); */
}

.card {
  margin-left: 100px;
}

.modalku {
  width: 1000px;
  /* margin: auto; */
  margin-left: -250px;
}

/* .main-content-1 h1 {
  float: left;
}

.main-content-1 p {
  padding-top: 16px;
}

.main-content-1 img {
  padding-top: 94px;
}

.main-content-2 {
  padding-left: 305px;
  padding-top: 104px;
}
.main-content-2 .main-contents-2 h1 {
  font-size: 24px;
  line-height: 36px;
}
.main-content-2 .main-contents-2 p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.main-content-2 .main-contents-2 ul li {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
}

.slip-text {
  padding-left: 16px;
}

.slip-text h1 {
  font-size: 24px;
  line-height: 36px;
}

.text h1 {
  font-size: 24px;
}

.testimonial-content .item {
  height: 270px;
  background-color: #f1f3ff;
  margin-right: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.owl-carousel .owl-item img {
  display: block;
  width: 80px !important;
}

.item-img {
  padding-left: 20px;
  padding-top: 20px;
}

.main-banner button {
  background-color: #5cb85f;
  color: #ffffff;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.main-banner .box {
  background-color: #0d28a6;
  height: 326px;
}

.main-banner h1 {
  font-size: 36px;
}

.main-accordion {
  padding-top: 100px;
}

.main-accordion h1 {
  font-size: 36px;
} */

.footer {
  background-color: #f1f3ff;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  padding-right: 16px;
}
